{
  "$schema": "https://raw.githubusercontent.com/aws/amazon-q-developer-cli/refs/heads/main/schemas/agent-v1.json",
  "name": "example",
  "description": "This is an example agent config (and will not be loaded unless you change it to have .json extension)",
  "prompt": null,
  "mcpServers": {},
  "tools": [
    "fs_read",
    "fs_write",
    "execute_bash",
    "use_aws",
    "gh_issue",
    "knowledge",
    "thinking",
    "@mcp_server_name/mcp_tool_name",
    "@mcp_server_name_without_tool_specification_to_include_all_tools"
  ],
  "toolAliases": {},
  "allowedTools": [
    "fs_read"
  ],
  "resources": [
    "file://AmazonQ.md",
    "file://README.md",
    "file://.amazonq/rules/**/*.md"
  ],
  "hooks": {},
  "toolsSettings": {},
  "useLegacyMcpJson": true
}